 <header class="app-header">
    <div class="logo-container" (click)="goToDashboard()">
      <div class="logo-box">
        <mat-icon class="logo-icon">person</mat-icon>
        <span class="dollar-sign">$</span>
      </div>
      <div class="text-block">
        <div class="top-text">EMPLOYEE</div>
        <div class="bottom-text">PAYROLL</div>
      </div>
    </div>
    
  </header>

  <form class="form-container" [formGroup]="RegisterForm" (ngSubmit)="Register()">
    <!-- <h2 class="form-title">Employee Payroll Form</h2> -->
    <h2>{{ isEditMode ? 'Update Employee Details' : 'Employee Payroll Form' }}</h2>
   
    
    <div class="form-row">
      <label>Name</label>
      <!-- <mat-form-field appearance="outline" class="short-width">
        <input matInput placeholder="Enter name" formControlName="Name" />
      </mat-form-field> -->
      <mat-form-field appearance="outline" class="short-width">
        <input matInput placeholder="Enter name" formControlName="Name" />
        <mat-error *ngIf="RegisterForm.get('Name')?.hasError('required')">
          Name is required
        </mat-error>
        <mat-error *ngIf="RegisterForm.get('Name')?.hasError('pattern')">
          Name should not contain numbers
        </mat-error>
      </mat-form-field>
      
    </div>
  
    <div class="form-row">
      <label>Profile Image</label>
      <div class="profile-images">
        <mat-radio-group formControlName="Image">
          <mat-radio-button
            *ngFor="let img of profileImages"
            class="profile-radio"
            [value]="img"
          >
            <img [src]="img" alt="Profile" />
          </mat-radio-button>
         
        </mat-radio-group>
        <mat-error *ngIf="RegisterForm.get('Image')?.invalid && (RegisterForm.get('Image')?.touched || submitted)">
          Please select a profile image
        </mat-error>
      </div>
    </div>
   
  
    <div class="form-row">
      <label>Gender</label>
      <mat-radio-group formControlName="Gender">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
       
        
      </mat-radio-group>
     
      <mat-error *ngIf="RegisterForm.get('Gender')?.invalid && (RegisterForm.get('Gender')?.touched || submitted)">
        Please select a gender
      </mat-error>
    </div>
    

    <div class="form-row">
      <label>Department</label>
      <div class="departments">
        <mat-checkbox *ngFor="let dept of departments"
          [value]="dept"
          (change)="onDepartmentChange($event,dept)"
          [checked]="RegisterForm.get('Department')?.value === dept">
          {{ dept }}
        </mat-checkbox>
        <mat-error *ngIf="RegisterForm.get('Department')?.invalid && (RegisterForm.get('Department')?.touched || submitted)">
          Please select a department
        </mat-error>
        
      </div>
    </div>
  
    <div class="form-row">
      <label>Salary</label>
      <mat-form-field appearance="outline" class="short-width">
        <mat-select placeholder="Select Salary" formControlName="Salary">
          <mat-option *ngFor="let s of salaryOptions" [value]="s">{{ s }}</mat-option>
        </mat-select>
        <mat-error *ngIf="RegisterForm.get('Salary')?.hasError('required')">
          Please select a salary
        </mat-error>
        
      </mat-form-field>
    </div>
  
    <div class="form-row">
      <label>Start Date</label>
      <div class="date-selects-row">
        <mat-form-field appearance="outline" class="date-select">
          <mat-select placeholder="Day" (selectionChange)="updateStartDate($event.value, 'day')">
            <mat-option *ngFor="let d of days" [value]="d">{{ d }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="date-select">
          <mat-select placeholder="Month" (selectionChange)="updateStartDate($event.value, 'month')">
            <mat-option *ngFor="let m of months" [value]="m">{{ m }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="date-select">
          <mat-select placeholder="Year" (selectionChange)="updateStartDate($event.value, 'year')">
            <mat-option *ngFor="let y of years" [value]="y">{{ y }}</mat-option>
          </mat-select>
          <mat-error *ngIf="RegisterForm.get('StartDate')?.hasError('required')">
            Please select a start date
          </mat-error>
          
        </mat-form-field>
      </div>
    </div>
  
    <div class="form-row">
      <label>Notes</label>
      <mat-form-field appearance="outline" class="full-width">
        <textarea matInput placeholder="Notes" formControlName="Note"></textarea>
        <mat-error *ngIf="RegisterForm.get('Note')?.hasError('required')">
          Note is required
        </mat-error>
        
      </mat-form-field>
    </div>
  
    <div class="button-wrapper">
      <button class="cancel-btn" type="button" routerLink="/dashboard">Cancel</button>
      <div class="right-buttons">
        <!-- <button class="submit-btn" type="submit" >Submit</button> -->
        <button type="submit">
          {{ isEditMode ? 'Update' : 'Submit' }}
        </button>
        <button class="reset-btn" type="button" (click)="resetForm()">Reset</button>
      </div>
    </div>
  </form>
  