
  
<header class="app-header">
  <div class="logo-container">
    <div class="logo-box">
      <mat-icon class="logo-icon">person</mat-icon>
      <span class="dollar-sign">$</span>
    </div>
    <div class="text-block">
      <div class="top-text">EMPLOYEE</div>
      <div class="bottom-text">PAYROLL</div>
    </div>
  </div>
  <nav class="breadcrumb">
    
  </nav>
</header>


    
    <div class="employee-container">
      <div class="header-row">
        <h3 class="title">Employee Details</h3>
    
        <div class="search-add">
          <!-- <input matInput placeholder="Search" class="search-box" /> -->
          <mat-icon class="search-icon">search</mat-icon>
          <button mat-raised-button routerLink='/register' class="btn">+ Add User</button>
        </div>
      </div>
    <table mat-table [dataSource]="data" class="mat-elevation-z8 w-100">
     
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="header-column" > NAME </th>
        <td mat-cell *matCellDef="let element">
          <!-- <img src="avatar1.jpg" width="40" height="40" class="image" /> -->
          <img [src]="element.image" width="40" height="40" class="image" />
          {{element.name}}
        </td>
      </ng-container>
  
     
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef class="header-column"> GENDER </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef class="header-column" > DEPARTMENT </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-listbox >
            <mat-chip disabled-outline-color class="chip" *ngFor="let dep of element.department">{{ dep }}</mat-chip>
        </mat-chip-listbox>
        </td>
      </ng-container>
  
      
      <ng-container matColumnDef="salary">
        <th mat-header-cell *matHeaderCellDef class="header-column" > SALARY </th>
        <td mat-cell *matCellDef="let element"> ₹ {{element.salary}} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef  class="header-column"> START DATE </th>
        <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
      </ng-container>
  
   
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="header-column"> ACTIONS </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="deleteEmployee(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="accent">
            <mat-icon>edit</mat-icon>
          </button>
          
        </td>
      </ng-container>
  
     
      <tr mat-header-row *matHeaderRowDef="columns" class="headerrow"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </div>
  


 
  